<% include ./partials/header %>

<p>Home Page!</p>
<div class="ui main text container segment">
    <div class="ui huge header">Edit</div>
    <h1>Tom Clukies</h1>
</div>


<% include ./partials/footer %>
