<% include ./partials/header %>

<p>Home Page!</p>
<main>
    <div class="about-div" class="ui main text container segment">
        <img class="main-img" src='../assets/DSC_0199.JPG'>
        <div class="ui huge header">Tom Clukies</div>
        <h2 class="main-header">Full Stack Web Developer | Human Being</h2>
    </div>
    <div class="text-div">
        <h3>
        This is a server side rendered RESTful API Blog App. The tech stack includes Express, Mongodb, Mongoose, Mlab, CSS, and is deployed to Heroku!  
        </h3>
        <h3>
        Please feel free to add blog posts and include your name if you'd like! Please respect other posts and let the creator edit or delete their own items. :)
        </h3>
    </div>    
</main>


<% include ./partials/footer %>
